body{

font-family:Arial,sans-serif;

padding:20px;

background:#f2f2f2;

text-align:center;

}

h1{

font-size:28px;

}

button{

width:100%;

padding:15px;

font-size:20px;

margin-top:20px;

border:none;

border-radius:10px;

background:#0099ff;

color:white;

}

input{

width:100%;

padding:15px;

font-size:18px;

}